@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing : border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding : 5em;
  }
  
.card-text{
    padding : 2em ;
}

h2 {
    padding : 1em;
}